* {
    font-family: 'tahoma', serif;
    margin: 0;
    padding: 0;
  }


header {
    background-color:#383838;
    display: flex;
    justify-content:space-between; 
}

.a_header {
    text-decoration: none;
    color: #E9ECEF;
}

.a_header:hover {
    color: #F0763E;
    transition: all 0.2s ease-in-out;
}
    
.li_header:hover {
      scale: 1.06;
}

.nav_header, .ul_header, .li_header {
    padding: 5px;
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center; 
}   
    
.cabeçalho {
    color: #E9ECEF;
}

.everybody {
    background-color: #D9D9D9;
    margin: 0 auto;
    padding: 0;
    min-height:100%;
    min-width: 100%;
    position:relative;      
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;    
}

.titulo {
    width: 100%;
    display:flex;
    padding-left: 250px;
    margin: 40px;   
}

.fonte_titulo{
    font-family: 'Libre Baskerville', serif; 
}

.imagem_conj_arqui {
    display: table-cell;
    float:left;
    width:600px;  
    height: 100vh;
    padding: 20px;
    margin-top: 20px; 
}

.section_1 {
    display:flex;
}

.background_1 {
    background-color: #E9ECEF;
    border-radius: 7px;
    width: 1280px;
    height: 100%;
    padding: 30px;
    margin-bottom: 50px; 
}

.subtitulo_1 {
    padding-left: 30px;
}


.imagem_1 {
    display: table-cell;
    float:left;
    width:600px;
    padding: 20px;
    margin-top: 20px;    
}

.paragrafo_1 {
    display: flex;
    float:right;
    width:600px;    
    padding: 20px;
    height: 100%;    
}

.paragrafo_armazem {
    display: flex;
    float:right;
    width:600px;    
    padding: 20px;
    height: 100%; 
    margin-top: 120px;      
}

.paragrafo_centro {
    display: flex;
    float:right;
    width:600px;    
    padding: 20px;
    height: 100%; 
    margin-top: 30px;   
}



.section_2 {
    display:flex;
    gap: 40px;
    width: 1340px;
    height: 410px;
    margin-bottom: 50px;
}

.background_2, .background_3 {
    background-color: #E9ECEF;
    border-radius: 7px;
    width: 590px;
    height: 350px;
    padding: 30px;
}

.subtitulo_2 {
    padding-left: 30px;
}

.imagem_2 {
    display: table-cell;
    float:left;
    width:200px;    
    padding: 10px;
    margin-top: 40px;
    margin-left: 7px;
}

.paragrafo_2 {
    display: table-cell;
    float:right;
    width:300px;    
    padding: 20px;
    padding-top: 40px;    
}

.subtitulo_3 {
    padding-left: 20px;
}

.nav_bck3 {
    padding-top: 50px;
    padding-left: 80px;
}

.a_bck3 {
    text-decoration: none;
    color: black;
    padding: 5px;
    height: 30px;
}

.a_bck3:hover {
    color: #F0763E;
    transition: all 0.2s ease-in-out;
}
    
.li_bck3 {
    list-style-type: none;
}

.li_bck3:hover {
      scale: 1.06;
}

.section_form {
    display:flex;
    width: 1380px;
    height: 410px;
    margin-bottom: 50px;
}

.div_form {
       
    border-radius: 7px;
    width: 590px;
    height: 440px;
    padding-left: 110px;
    
}

.titulo_form, .subtitulo_form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo_form, .subtitulo_form, .mensagem, .checkbox {
    padding: 5px;
}

.nome_email {
    display: flexbox;
    padding: 5px;
    width: 480px;
    height: 20px;
}

.caixa_mensagem {
    display: flexbox;
    padding: 5px;
    width: 480px;
    height: 160px;
}

.checkbox a {
    color: #0336dd; 
    text-decoration: none;
}

.checkbox a:hover {
    color:#F0763E;
    transition: all 0.2s ease-in-out;    
}

footer {
    background-color: #383838;
    width: 100%;
    min-height: 175px;
    display: flex;  
    justify-content:space-between;
    
}

.section_footer { 
    display: flex; 
    justify-content:space-between;    
    padding-left: 300px;
   
}

footer .box {
    width: 320px;
    min-height: 150px;
    padding: 20px;    
}

.box h2 {
    color: #E9ECEF;
    margin-bottom: 20px;
} 

.box ul li {
    margin: 10px 0px;
    list-style: none;
}

.box ul li a {
    color: #E9ECEF; 
    text-decoration: none;
    display: flex;


}

.box ul li a:hover {
    color:#F0763E;
    transition: all 0.2s ease-in-out;    
}

.box li:hover {
    scale: 1.06;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgb(25, 25, 25);
    
}

.footer h2 {
    color: #E9ECEF; 
}

.footer .redes_sociais {
    display: flex;
}

.redes_sociais .social {
    width:  40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #E9ECEF;
    margin: 10px;
    border-radius: 5px;
    transition: background .3s linear;
}

.redes_sociais .social a {
    color: rgb(25, 25, 25);
    font-size:  1.5em; 
    transition: color .3s linear;
}

.redes_sociais .social:hover {
    background: #383838;
}

.redes_sociais .social:hover a {
    color: #E9ECEF;
}